  <div ng-show-auth="" >
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid  container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-md-2">
        <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img ng-src="images/4fut.png" style="height:45px; margin-top:-15px" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" uib-collapse="!navbarCollapsed">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/arenas/dashboard')}">
            <a href="/arenas/dashboard">DASHBOARD</a>
          </li>
          <li ng-class="{ active: isActive('/arenas/reservas')}">
            <a href="/arenas/reservas">RESERVAS</a>
          </li>
          <li ng-class="{ active: isActive('/arenas/arena/arena-profile') || isActive('/arenas/arena/arena-quadras') || isActive('/arenas/arena/arena-funcionamento') }">
            <a href="/arenas/arena/arena-profile">ARENA</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right top-menu">
          <li class="dropdown" uib-dropdown>
            <a uib-dropdown-toggle class="tm-message" href=""> <i class="tmn-counts">6</i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
              <div class="listview">
                <div class="lv-header">Messages</div>
                <div class="lv-body">
                  <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                    <div class="media">
                      <div class="pull-left">
                        <img class="lv-img-sm" ng-src="img/profile-pics/{{ w.img }}" alt=""></div>
                      <div class="media-body">
                        <div class="lv-title">{{ w.user }}</div>
                        <small class="lv-small">{{ w.text }}</small>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="clearfix"></div>

                <a class="lv-footer" href="">View All</a>
              </div>
            </div>
          </li>
          <li class="dropdown" uib-dropdown>
            <a uib-dropdown-toggle class="tm-notification" href=""> <i class="tmn-counts">9</i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
              <div class="listview" id="notifications">
                <div class="lv-header">
                  Notification
                  <ul class="actions">
                    <li>
                      <a href="" data-ng-click="hctrl.clearNotification($event)">
                        <i class="zmdi zmdi-check-all"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="lv-body">
                  <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                    <div class="media">
                      <div class="pull-left">
                        <img class="lv-img-sm" ng-src="img/profile-pics/{{ w.img }}" alt=""></div>
                      <div class="media-body">
                        <div class="lv-title">{{ w.user }}</div>
                        <small class="lv-small">{{ w.text }}</small>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="clearfix"></div>

                <a class="lv-footer" href="">View Previous</a>
              </div>

            </div>
          </li>
          <li class="dropdown"  style="height:55px" uib-dropdown>
            <a uib-dropdown-toggle class="tm-profile" href="">
              <img src="https://scontent-gru1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10525685_920901341304897_6903052953168543422_n.jpg?oh=f911c27973d49852218f0df910ecec8c&oe=56BF0768" alt=""></a>
            <ul class="dropdown-menu dm-icon pull-right">
              <li>
                <a href="">
                  <i class="zmdi zmdi-face"></i>
                  Perfil
                </a>
              </li>
              <li>
                <a href="">
                  <i class="zmdi zmdi-accounts"></i>
                  Funcionários
                </a>
              </li>
              <li>
                <a href="">
                  <i class="zmdi zmdi-settings"></i>
                  Configurações
                </a>
              </li>
              <li>
                <a data-ng-click="hctrl.logout()"  href="">
                  <i class="zmdi zmdi-power"></i>
                  Sair
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>