<form class="form-horizontal" name="turmaForm" ng-submit="vm.salvarNovaReserva(); " novalidate>
	<div class="modal-body">
		<div class="card-body">
			<div class="row">
				<div class="form-group">
					<label for="inputNome" class="col-sm-2 control-label">Quadra</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<select id="inputQuadra" chosen="{width: '100%'}" required disable-search="true" data-placeholder="Selecione uma quadra..." name="quadra" ng-model="vm.novaReserva.quadra" ng-options="quadra.nome for quadra in vm.quadras">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputDescricao" class="col-sm-2 control-label">Responsável</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<select id="inputParticipantes" chosen="{width: '100%'}" name="resp" no-results-text="'Nenhum contato cadastrado.'" required data-placeholder="Selecione o responsável..." ng-model="vm.novaReserva.responsavel" ng-options="contato.nome for contato in vm.contatos">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group col-md-5">
					<label for="inputDataInicio" class=" col-md-offset-2 col-md-2 control-label">Data</label>
					<div class="col-md-offset-1 col-md-7">
						<div class="fg-line">
							<input id="inputDataInicio" disable-valid-styling="true" name="dataFim" type="text" required class="form-control" ng-model="vm.novaReserva.data"  bs-datepicker />
						</div>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="inputHoraInicio" class="col-md-4 control-label">Horário</label>
					<div class="col-md-8">
						<div class="fg-line">
							<input id="inputHoraInicio" disable-valid-styling="true" name="horaInicionicio" type="text" required size="8" ng-model="vm.novaReserva.hora" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="15" data-arrow-behavior="picker" class="form-control" />
						</div>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="inputDuracao" class="col-md-4 control-label">Duração</label>
					<div class="col-md-8">
						<div class="fg-line">
							<select id="inputDuracao" chosen="{width: '100%'}" disable-search="true" name="validade" required data-placeholder="Selecione a duração..." ng-click='vm.hideModalForm();' ng-model="vm.novaReserva.duracao" ng-options="duracao.desc for duracao in vm.duracao">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
			</div>  
		</div>  
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-sm m-t-10">Salvar</button>
		<button  type="button" ng-click='$parent.vm.hideModal();' class="btn btn-default btn-sm m-t-10">Cancelar</button>
	</div>
</form>