<section id="login-page">
  <form>
    <h1>Acesse o portal do administrador.</h1>
    <input required name="email" placeholder="E-mail" type="email" ng-model="email">
    <input required name="pass" placeholder="Senha" type="password" ng-model="pass">
    <button class="btn btn-primary" ng-click="passwordLogin(email, pass)">Entrar</button>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        <i class="input-helper"></i>
        Manter Conectado
      </label>
    </div>
  </form>
</section>

