<div class="pmb-block">
    <div class="p-header">
        <ul class="p-menu">
            <li class="active">
            	<button 
            		class="btn btn-default" 
            		href="" 
            		ng-click="vm.contatoSelecionado = {}; vm.edicao = false"
            		data-animation="am-fade-and-slide-top" 
            		data-template-url="app/arena/novo-contato.html" 
            		bs-modal="modal"> 
            		<i class="zmdi zmdi-accounts-add hidden-xs"></i> Novo Contato
            	</button>
            </li>
        </ul>

        <ul class="actions p-menu m-t-20 hidden-xs">
            <li class="pm-search">
                <div class="pms-inner">
                    <i class="zmdi zmdi-search"></i>
                    <input type="text" ng-model="buscaContato" placeholder="Buscar...">
                </div>
            </li>
        </ul>
    </div>

    <div class="contacts c-profile clearfix row">
        <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="contato in vm.contatos | filter:buscaContato">
            <div class="c-item">
                <a href="" 
                	ng-click="vm.contatoSelecionado = contato; vm.edicao = true"
                	class="ci-avatar"
                	data-animation="am-fade-and-slide-top" 
            		data-template-url="app/arena/novo-contato.html" 
            		bs-modal="modal">
                    <img ng-src="{{contato.fotoPerfil != 'undefined' && contato.fotoPerfil || '/images/avatar_placeholder.jpg' }}" alt="">
                </a>

                <div class="c-info">
                    <strong>{{contato.nome}}</strong>
                    <small>{{contato.email}}</small>
                </div>

                <div class="c-footer">
                    <button class="waves-effect"><i class="zmdi zmdi-person-add"></i> Detalhes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh-alt"></i> Carregar mais...</a>
    </div>
</div>
