<br/><br/><br/>

<div id="configFunc" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"  calendar="myCalendar" ></div>

<script type="text/ng-template" id="modalPreco.html">
    <div class="modal-header">
        <h3 class="modal-title">{{vm.title}}</h3>
    </div>
    <form class="form-horizontal" ng-submit="vm.salvar()">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group" >
                        <span class="input-group-addon">De:</span>
                        {{vm.eventData.start}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group" >
                        <span class="input-group-addon">Até:</span>
                        {{vm.eventData.end}}
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group" >
                        <span class="input-group-addon"><i class="zmdi zmdi-money-box"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" ng-model="vm.eventData.precoAvulso" placeholder="Preço Avulso">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group" >
                        <span class="input-group-addon"><i class="zmdi zmdi-money-box"></i></span>
                        <div class="fg-line">
                            <input type="number" class="form-control" ng-model="vm.eventData.precoMensalista" placeholder="Preço Mensalista">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div ng-show="!vm.edicao">
                <label for="inputTime" class=" control-label">Repetir o preço nos dias:</label>
                <br/><br/>
                <div>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[0].ativo'>
                        <i class="input-helper"></i>
                        Dom
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[1].ativo'>
                        <i class="input-helper"></i>
                        Seg
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[2].ativo'>
                        <i class="input-helper"></i>
                        Ter
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[3].ativo'>
                        <i class="input-helper"></i>
                        Quar
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[4].ativo'>
                        <i class="input-helper"></i>
                        Qui
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[5].ativo'>
                        <i class="input-helper"></i>
                        Sex
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" ng-model='vm.diasSemana[6].ativo'>
                        <i class="input-helper"></i>
                        Sab
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm m-t-10">Salvar</button>
            <button type="button" ng-click='vm.excluir();' ng-show="vm.edicao" class="btn btn-danger btn-sm m-t-10">Excluir</button>
            <button  type="button" ng-click='vm.cancel();' class="btn btn-default btn-sm m-t-10">Cancelar</button>
        </div>
    </form>
</script>
