<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Novo Contato</h4>
			</div>
			<form class="form-horizontal" name="contatoForm" ng-submit="vm.salvarContato(); $hide()">
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="form-group required has-feedback" ng-class="{ 'has-error' : contatoForm.nome.$invalid && !contatoForm.nome.$pristine , 'has-success' : contatoForm.nome.$valid && !contatoForm.nome.$pristine }">
								<label for="inputNome" class="col-sm-3 control-label">Nome</label>
								<div class="col-sm-8">
									<div class="fg-line">
										<input id="inputNome" required name="nome" type="text" ng-model="vm.contatoSelecionado.nome" class="form-control" />
									</div>
									<span ng-show="contatoForm.nome.$invalid && !contatoForm.nome.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
									<span ng-show="contatoForm.nome.$valid && !contatoForm.nome.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
									<small ng-show="contatoForm.nome.$invalid && !contatoForm.nome.$pristine" class="help-block">O nome é obrigatório</small>
								</div>
							</div>
							<div class="form-group has-feedback" ng-class="{ 'has-error' : contatoForm.email.$invalid && !contatoForm.email.$pristine , 'has-success' : contatoForm.email.$valid && !contatoForm.email.$pristine }">
                                <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-8">

                                    <div class="fg-line">
                                        <input id="inputEmail" name="email" type="email" ng-model="vm.contatoSelecionado.email" class="form-control" />
                                    </div>
                                    <span ng-show="contatoForm.email.$invalid && !contatoForm.email.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
                                    <span ng-show="contatoForm.email.$valid && !contatoForm.email.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
                                    <small ng-show="contatoForm.email.$invalid && !contatoForm.email.$pristine" class="help-block">Informe um email válido</small>
                                </div>
                            </div>
							<div class="form-group" ng-class="{ 'has-error' : contatoForm.telefone.$invalid && !contatoForm.telefone.$pristine , 'has-success' : contatoForm.telefone.$valid && !contatoForm.telefone.$pristine }">
                                <label for="inputCelular" class="col-sm-3 control-label">Telefone</label>
                                <div class="col-sm-8">
                                    <div class="fg-line">
                                        <input id="inputCelular" ng-minlength="10" name="telefone" ui-br-phone-number type="text" ng-model="vm.contatoSelecionado.telefone" class="form-control" />
                                    </div>
                                    <span ng-show="contatoForm.telefone.$invalid && !contatoForm.telefone.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
                                    <span ng-show="contatoForm.telefone.$valid && !contatoForm.telefone.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
                                    <small ng-show="contatoForm.telefone.$invalid && !contatoForm.telefone.$pristine" class="help-block">Informe um telefone válido</small>
                                </div>
                            </div>
						</div>  
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" ng-if="vm.edicao" ng-click="vm.excluirContato() ; $hide()" class="btn btn-danger btn-sm m-t-10">Excluir</button>
					<button type="submit" ng-disabled="contatoForm.$invalid" class="btn btn-primary btn-sm m-t-10">Salvar</button>
					<button  type="button" ng-click="$hide()" class="btn btn-default btn-sm m-t-10">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>