<section>
	<div class="card z-depth-3" >
		<div class="card-header">
			<div class="row">
				<div class="col-md-6">
					<h3>Cadastro de Turmas</h3>
				</div>
				<div class="col-md-6">
					<button 
					type="submit" 
					data-animation="am-fade-and-slide-top" 
					data-template-url="novaTurmaModal.html" bs-modal
					class="btn btn-default pull-right m-t-15"> <i class="zmdi zmdi-plus"></i>
					Nova Turma
				</button>
			</div>
		</div>
	</div>
	<div class="card-body card-padding">
		<div class="panel-group" data-start-collapsed="true" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
			<div class="panel panel-default" ng-repeat="panel in panels">
				<div class="panel-heading" role="tab">
					<div class="row">
						<div class="col-md-11 col-sm-10 p-t-10">
							<div class="col-md-4">
								<h5><i class="zmdi zmdi-account"></i> Professor Marcelo</h5>
							</div>
							<div class="col-md-4">
								<h5><i class="zmdi zmdi-calendar-alt"></i> Seg e Quar - 12:00 as 13:00</h5>
							</div>
							<div class="col-md-4">
								<h5><i class="zmdi zmdi-accounts"></i> 15 alunos</h5>
							</div>
						</div>
						<div class="col-md-1 col-sm-1">
							<button bs-collapse-toggle class="btn btn-link col-md-12 col-sm-12 p-15"> <i class="zmdi zmdi-chevron-down zmdi-hc-2x"></i></button>
						</div>
					</div>
				</div>
				<div class="panel-collapse" role="tabpanel" bs-collapse-target>
					<div class="panel-body">
						{{ panel.body }}
						<div class="row">
							<div class="col-md-12">
								<div class="well well-sm ">
									<i class="zmdi zmdi-plus-square"></i> Nova Quadra
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<script type="text/ng-template" id="novaTurmaModal.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide(); vm.novaQuadra = {}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nova Turma</h4>
                </div>
                <form class="form-horizontal" name="quadraForm" ng-submit="vm.salvarNovaQuadra(); $hide(); vm.novaQuadra = {}" novalidate>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group required">
                                    <label for="inputNome" class="col-sm-2 control-label">Quadra</label>
                                    <div class="col-sm-9">
                                        <div class="fg-line">
                                            <select id="inputQuadra" chosen="{width: '100%'}" required disable-search="true" data-placeholder="Selecione uma quadra..." name="quadra" ng-model="vm.novaReserva.quadra" ng-options="quadra.nome for quadra in vm.quadras">
                                            	<option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescricao" class="col-sm-2 control-label">Professor</label>
                                    <div class="col-sm-9">
                                        <div class="fg-line">
                                            <select id="inputParticipantes" chosen="{width: '100%'}" name="resp" required data-placeholder="Selecione o professor..." ng-model="vm.novaReserva.responsavel" ng-options="contato.nome for contato in vm.contatos">
                                            	<option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputInicio" class="col-sm-2 control-label">Horário de Início</label>
                                    <div class="col-sm-3">
                                        <div class="fg-line">
                                            <input id="inputInicio" name="inicio" type="text" size="8" ng-model="vm.novaTurma.inicio" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="15" data-arrow-behavior="picker" class="form-control" />
                                        </div>
                                    </div>
                                    <label for="inputFim" class="col-sm-2 control-label">Horário de Término</label>
                                    <div class="col-sm-3">
                                        <div class="fg-line">
                                            <input id="inputFim" name="fim" type="text" size="8" ng-model="vm.novaTurma.fim" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="15" data-arrow-behavior="picker" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescricao" class="col-sm-2 control-label">Dias na semana</label>
                                    <div class="col-sm-9">
                                        <div class="fg-line p-t-15">
                                            <div>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option1"> 
                                            		<i class="input-helper"></i>
                                            		Seg
                                            	</label>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option2"> 
                                            		<i class="input-helper"></i>
                                            		Ter
                                            	</label>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option3">
                                            		<i class="input-helper"></i>
                                            		Quar
                                            	</label>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option3">
                                            		<i class="input-helper"></i>
                                            		Qui
                                            	</label>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option3">
                                            		<i class="input-helper"></i>
                                            		Sex
                                            	</label>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option3">
                                            		<i class="input-helper"></i>
                                            		Sab
                                            	</label>
                                            	<label class="checkbox checkbox-inline">
                                            		<input type="checkbox" value="option3">
                                            		<i class="input-helper"></i>
                                            		Dom
                                            	</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-disabled="quadraForm.$invalid" class="btn btn-primary btn-sm m-t-10">Salvar</button>
                        <button  type="button" ng-click='$hide(); vm.novaQuadra = {}' class="btn btn-default btn-sm m-t-10">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>