<div id="reservas" class="row">
	<div class="col-md-2 col-sm-3">
    <button type="buttom" ng-click="vm.showReservasModal();" class="btn btn-danger col-md-12 p-10 m-t-20 m-b-20"> 
      <i class="zmdi zmdi-calendar"></i>
      Nova Reserva
    </button>
    <div id="sideBarCal">
      <div class="row">
        <tien-clndr class="clndr" tien-clndr-object="clndr">
          <div class="clndr-controls">
            <div class="clndr-previous-button" ng-click="clndr.back()">
              &lsaquo;
            </div>
            <div class="month">
              {{month}}
            </div>
            <div class="clndr-next-button" ng-click="clndr.forward()">
              &rsaquo;
            </div>
          </div>
          <div class="clndr-grid">
            <div class="days-of-the-week">
              <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
                {{day}}
              </div>
            </div>
            <div class="days">
              <div class="{{day.classes}}"  ng-repeat="day in days">
                <div ng-click="vm.gotoDate(day.date)">
                  {{day.day}}
                </div>
              </div>
            </div>
          </div>
        </tien-clndr>
      </div>
      <div class="row quadras">
        <h5>Quadras</h5>
        <div class="qdr">
         <div class="qdr-item" ng-repeat="qdr in vm.selecaoQuadras"  >
            <div class="media">
              <div class="quadra-tag pull-left p-relative" ng-click="qdr.ativa = !qdr.ativa ; vm.refreshCalendar();">
                <span data-ng-class="{ '{{qdr.quadra.color}}': qdr.ativa , 'bgm-gray' :!qdr.ativa }"></span>
              </div>
              <div class="pull-right p-relative"  data-title="Visualizar preços da quadra" bs-tooltip ng-click="vm.openPrecosModal(qdr.quadra)">
                  <i class="zmdi zmdi-eye"></i>
              </div>
              <div class="media-body">
                <div class="qdr-title" ng-class="{ 'quadra-inativa': !qdr.ativa }">
                  {{qdr.quadra.nome}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-sm-9">
  	<div class="card z-depth-3">
  		<div ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"  calendar="reservasCalendar" >
  		</div>
  	</div>
  </div>
</div>

<script type="text/ng-template" id="modalNovaReserva.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" ng-click="$hide(); vm.novaTurma = {}"><span aria-hidden="true">&times;</span></button>
                	<h3 class="modal-title">Nova Reserva</h3>
                </div>
                <div data-ng-include="'app/reservas/nova-reserva-form.html'" data-ng-controller="NovaReservaFormCtrl as vm"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modalTrocaQuadra.html">
    <div class="modal" tabindex="-1" keep-opened="vm.popover" role="dialog"  role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-label="Close" ng-click="vm.hideTrocaQuadraModal()"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Selecione a quadra</h4>
                </div>
                <div class="modal-body">
                  <a ng-repeat="qdr in vm.selecaoQuadras" ng-click="vm.trocarQuadra(qdr.quadra);" class="btn btn-default btn-lg btn-block {{qdr.quadra.color}}"  >{{qdr.quadra.nome}}</a>
                  <br/><br/>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modalPagamentoReserva.html">
    <div class="modal" tabindex="-1" keep-opened="vm.popover" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="vm.hidePagamentoReservaModal();">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6 text-center">
                      <h5 class="c-teal">
                        <b>Pago:</b>
                      </h5>
                      <h3 class="c-teal">
                        {{vm.novaReserva.saldoQuitado | currency:"R$":2}} 
                      </h3> 
                    </div>
                    <div class="col-md-6 text-center">
                      <h5 class="c-red">
                        <b>A Pagar:</b>
                      </h5>
                      <h3 class="c-red">
                        {{vm.novaReserva.saldoDevedor | currency:"R$":2}} 
                      </h3> 
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-md-12">
                      <form class="form-inline" ng-submit="vm.salvarNovoPagamento();" novalidate>
                        <h5>Novo Pagamento</h5>
                        <div class="row">
                          <div class="form-group col-md-3" >
                            <label for="inputValorPagamento">Valor</label>
                            <input type="text" class="form-control" style="width: 100px" required ui-money-mask ng-model="vm.novoPagamento.valor"  id="inputValorPagamento" >
                          </div>
                          <div class="form-group col-md-3" >
                            <label for="inputDescontoPagamento">Desconto</label>
                            <input type="text" class="form-control" style="width: 100px" ng-change="vm.aplicaDesconto();" required ui-money-mask ng-model="vm.novoPagamento.desconto"  id="inputDescontoPagamento" >
                          </div>
                          <div class="form-group col-md-3" >
                            <label for="inputFormaPagamento">Forma de Pgto.</label>
                            <select id="inputFormaPagamento" style="width: 100px" class="form-control"   disable-search="true" name="Fora de Pagamento" required data-placeholder-text-single="'Selecione a forma de pagamento...'"  ng-model="vm.novoPagamento.formaPagamento" ng-options="forma.desc for forma in vm.formaPagamento" value="{{forma.value}}">
                            </select>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputDataPagamento">Data do Pgto.</label>
                            <input id="inputDataPagamento"  style="width: 100px" autoclose="true" disable-valid-styling="true" name="Data do Pagamento" type="text" required class="form-control" ng-model="vm.novoPagamento.data" bs-datepicker />
                          </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-sm btn-primary col-md-12 ">Confirmar Pagamento</button>
                      </form>
                    </div>
                  </div>
                  <br/>
                  <hr/>
                  <button type="submit" bs-tooltip="'Lista de Pagamentos'" ng-click="vm.showPagamentos = !vm.showPagamentos" class="btn btn-link btn-default col-md-12 ">
                    <i ng-if="!vm.showPagamentos" class="zmdi zmdi-caret-down zmdi-hc-2x"></i>
                    <i ng-if="vm.showPagamentos" class="zmdi zmdi-caret-up zmdi-hc-2x"></i>
                  </button>
                  <div class="row" >
                    <div class="col-md-12" ng-if="vm.showPagamentos" ng-show="vm.pagamentos.length > 0">
                      <h5>Pagamentos</h5>
                      <div class="row">
                        <div class="col-md-3"><b>Valor</b></div>
                        <div class="col-md-3"><b>Desconto</b></div>
                        <div class="col-md-3"><b>Forma de Pgto</b></div>
                        <div class="col-md-3"><b>Data</b></div>
                      </div>
                      <hr/>
                      <div class="row" ng-repeat="pg in vm.pagamentos">
                        <div class="col-md-3">{{pg.valor | currency:"R$":2}}</div>
                        <div class="col-md-3">{{pg.desconto | currency:"R$":2}}</div>
                        <div class="col-md-3">{{vm.getFormaPagamentoDesc(pg.formaPagamento);}} </div>
                        <div class="col-md-3">{{pg.data | date}}</div>
                      </div>
                    </div>
                    <div class="col-md-12" ng-if="vm.showPagamentos" ng-hide="vm.pagamentos.length > 0">
                      <div class="text-center">
                        <i style="opacity:0.5" class="zmdi zmdi-money-off zmdi-hc-5x"></i>
                        <h4 style="opacity:0.4">Nenhum pagamento realizado </br>para esta reserva</h4>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="popupNovaReserva.html">
	<div class="popover novaReserva reservasForm" ng-class="vm.novaReserva.placement" tabindex="-1">
		<div class="arrow"></div>
		<button type="button" class="close m-r-15 m-t-5" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
		<form class="form-horizontal" name="reservaForm" ng-submit="vm.submitted= true; vm.salvarReservaAvulsa();" novalidate>
			<h4 class="popover-title">
				<i style="font-size: large" class="zmdi zmdi-calendar zmdi-hc-lg m-r-10"></i>
        {{vm.novaReserva.dataLabel}} <br/>
			</h4>
			<div class="popover-content" style="padding: 15px">
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group" >
							<span class="input-group-addon"><i class="zmdi zmdi-pin-drop"></i></span>
							<div class="fg-line">
								<select id="inputQuadra" chosen="{width: '100%'}" required disable-search="true" ng-change='vm.atualizaDisponibilidade();'  data-placeholder-text-single="'Selecione uma quadra...'" name="quadra" ng-model="vm.novaReserva.quadra" ng-options="quadra.nome for quadra in vm.quadras">
									<option value=""></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-10" ng-class="{ 'has-error' : reservaForm.resp.$invalid && vm.submitted }">
						<div class="input-group ">
							<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
							<div class="fg-line">
								<select id="inputParticipantes" chosen="{width: '100%'}" name="resp" no-results-text="'Nenhum contato cadastrado.'" data-placeholder-text-single="'Selecione o responsável...'" required  ng-model="vm.novaReserva.responsavel" ng-options="contato.nome for contato in vm.contatos">
									<option value=""></option>
								</select>
							</div>
						</div>
					</div>
          <button type="button" style="margin-left: 5px" 
              class="btn btn-link btn-novo-contato"
              ng-click="vm.showNovoContatoModal();">
              <i class="zmdi zmdi-account-add zmdi-hc-lg"></i>
          </button>
				</div>

				<div class="col-sm-6 ppo-reserva-footer">
					<div ng-if="vm.novaReserva.quadra != undefined && vm.novaReserva.preco == undefined && vm.horarioLivre" class="no-price">
						<i class="zmdi zmdi-alert-triangle"> Quadra sem preço definido para este horário! <a ng-href="#/arena/precos/{{vm.novaReserva.quadra.id}}" style="font-weight: bold; text-decoration: underline; color: red">Definir preços.</a></i> 
					</div>

					<div ng-if="vm.novaReserva.quadra != undefined && !vm.horarioLivre" class="no-room">
						<i class="zmdi zmdi-alert-triangle"> Horário ocupado para esta quadra!</i>
					</div>

          <div ng-if="vm.horarioLivre && vm.novaReserva.preco != undefined">
            R$ {{vm.novaReserva.preco.precoAvulso}}
          </div>

				</div>
				<div class="col-sm-6 text-right p-b-15">
					<button type="submit" ng-disabled="!vm.horarioLivre || vm.novaReserva.preco == undefined " class="btn btn-primary btn-sm m-t-10">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="popupReserva.html">
  <div class="popover editing novaReserva reservasForm" ng-class="vm.novaReserva.placement" tabindex="-1">
    <div class="arrow"></div>
    <button type="button" class="close m-r-15 m-t-5" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
    <form class="form-horizontal" name="reservaForm" ng-submit="submitPelada()">
      <h3 class="popover-title">
        <i style="font-size: large" class="zmdi zmdi-calendar zmdi-hc-lg m-r-10"></i>
        {{vm.novaReserva.dataLabel}} 
        <span class="label {{vm.novaReserva.status.class}}" style="padding: .1em .8em; margin-left: 10px;">{{vm.novaReserva.status.desc}}</span>
      </h3>

  
      <div class="popover-content" >
        <div class="row" style="min-height: 55px">
          <div class="col-md-12">
            <div class="col-md-2">
              <img class="lv-img-sm" style="width: 45px; height: 45px;" ng-src="{{vm.novaReserva.responsavel.fotoPerfil | defaultImage}}" alt="">
            </div>
            <div class="col-md-4" style="padding-top: 3px; margin-left: -10px">
              <b>{{vm.novaReserva.responsavel.nome}}</b><br/>
              <b style="color: #999">{{vm.novaReserva.responsavel.telefone | tel}}</b>
              
            </div>
            <div class="col-md-6 pull-right" style="text-align: right;">
              <b>{{vm.novaReserva.quadra.nome}}</b>
              <a ng-click='vm.showTrocaQuadraModal();' style="border-radius:50%; margin-top: -5px;" bs-tooltip="'Trocar Quadra'" data-placement="right" class="btn btn-link btn-default ng-scope">
                  <i style="font-size:large" class="zmdi zmdi-edit"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: -10px;">
          <hr style="margin-top: 10px; margin-bottom: 0px" />
          <div class="col-md-12" style="text-align: right; padding: 15px 30px;">
            <button type="button" style="width: 100px;" ng-if='vm.novaReserva.id' ng-click="vm.showPagamentoReservaModal();" class="btn btn-primary btn-xs"><i class="zmdi zmdi-money"></i> Pagar</button>

            <button type="button" style="width: 100px;" ng-if='vm.novaReserva.id' confirmed-click='vm.excluirReserva(vm.novaReserva.id); $hide();' ng-confirm-click="Deseja desmarcar esta reserva?" class="btn btn-danger btn-xs "><i class="zmdi zmdi-close"></i> Desmarcar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</script>
