<div id="reservas" class="row">
	<div class="col-md-2">
		<button 
		type="buttom"
        ng-click="vm.showReservasModal();" 
        class="btn btn-danger col-md-12 p-10 m-t-20 m-b-20"> <i class="zmdi zmdi-calendar"></i>
        Nova Reserva
    </button>

    <div id="sideBarCal">
      <div class="row">
         <tien-clndr class="clndr" tien-clndr-object="clndr">
         <div class="clndr-controls">
            <div class="clndr-previous-button" ng-click="clndr.back()">&lsaquo;
            </div>
            <div class="month">{{month}}
            </div>
            <div class="clndr-next-button" ng-click="clndr.forward()">&rsaquo;
            </div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
               <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">{{day}}
               </div>
           </div>
           <div class="days">
               <div class="{{day.classes}}"  ng-repeat="day in days">
                  <div ng-click="vm.gotoDate(day.date)">
                     {{day.day}}
                 </div>
             </div>
         </div>
     </div>
 </tien-clndr>
</div>
<div class="row quadras">
  <h5>Quadras</h5>
  <div class="qdr">
     <div class="qdr-item" ng-repeat="qdr in vm.selecaoQuadras"  >
        <div class="media">
           <div class="quadra-tag pull-left p-relative" ng-click="qdr.ativa = !qdr.ativa ; vm.refreshCalendar();">
              <span data-ng-class="{ '{{qdr.quadra.color}}': qdr.ativa , 'bgm-gray' :!qdr.ativa }"></span>
          </div>
          <div class="pull-right p-relative"  data-title="Visualizar preços da quadra" bs-tooltip ng-click="vm.openPrecosModal(qdr.quadra)">
              <i class="zmdi zmdi-eye"></i>
          </div>
          <div class="media-body">
              <div class="qdr-title" ng-class="{ 'quadra-inativa': !qdr.ativa }">{{qdr.quadra.nome}}
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
<div class="col-md-10">
	<div class="card z-depth-3">
		<div ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"  calendar="reservasCalendar" >

		</div>
	</div>
</div>
</div>

<div style="background-color: white">
  <pre>{{vm.reservas | json}}</pre>
</div>


<script type="text/ng-template" id="novaTurmaModal.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide(); vm.novaTurma = {}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nova Turma</h4>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="modalPelada.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                	<h3 class="modal-title">{{vm.title}}</h3>
                </div>
                <form class="form-horizontal" ng-submit="submitPelada()">
                        <div class="modal-body">
                            <div class="form-group">
                               <div class="col-sm-12">
                                  <div class="fg-line">
                                     <div class="btn-group btn-group-justified" ng-model="vm.reservaRadio" bs-radio-group>
                                        <label class="btn btn-primary"><input type="radio" value="1">Avulsa</label>
                                        <label class="btn btn-primary"><input type="radio" value="2">Mensalista</label>
                                        <label class="btn btn-primary"><input type="radio" value="3">Escolinha</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-if="vm.reservaRadio == 1">
                    <div data-ng-include="'app/reservas/avulsas/avulsas-form.html'" data-ng-controller="AvulsasFormCtrl as vm"></div>
                </div>
                <div ng-if="vm.reservaRadio == 2">
                    <div data-ng-include="'app/reservas/mensalistas/mensalistas-form.html'" data-ng-controller="MensalistasFormCtrl as vm"></div>
                </div>
                <div ng-if="vm.reservaRadio == 3">
                    <div data-ng-include="'app/reservas/escolinhas/escolinhas-form.html'" data-ng-controller="EscolinhasFormCtrl as vm"></div>
                </div>
            </div
        </div>
    </div>
</script>

<script type="text/ng-template" id="modalPagamentoReserva.html">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="vm.hidePagamentoReservaModal();"><span aria-hidden="true">&times;</span></button>
                	<h3 class="modal-title">Pagamentos</h3>
                </div>
                Teste
            </div
        </div>
    </div>
</script>

<script type="text/ng-template" id="popupNovaReserva.html">
	<div class="popover novaReserva reservasForm" ng-class="vm.novaReserva.placement" tabindex="-1">
		<div class="arrow"></div>
		<button type="button" class="close m-r-15 m-t-5" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
		<form class="form-horizontal " name="reservaForm" ng-submit="submitPelada()">
			<h4 class="popover-title">
				Reserva Avulsa<br/>
			</h4>
			<div class="popover-content" >
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
						<div class="input-group" >
							<span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
							<div class="fg-line">
								<label class="control-label">{{vm.novaReserva.dataLabel}}</label>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
						<div class="input-group" >
							<span class="input-group-addon"><i class="zmdi zmdi-pin-drop"></i></span>
							<div class="fg-line">
								<select id="inputQuadra" chosen="{width: '100%'}" required disable-search="true" ng-change='vm.atualizaDisponibilidade();'  data-placeholder="Selecione uma quadra..." name="quadra" ng-model="vm.novaReserva.quadra" ng-options="quadra.nome for quadra in vm.quadras">
									<option value=""></option>
								</select>
							</div>
						</div>
						<small ng-show="reservaForm.quadra.$invalid && vm.submitted" class="help-block">Selecione uma quadra</small>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-9" ng-class="{ 'has-error' : reservaForm.resp.$invalid && vm.submitted }">
						<div class="input-group ">
							<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
							<div class="fg-line">
								<select id="inputParticipantes" chosen="{width: '100%'}" name="resp" no-results-text="'Nenhum contato cadastrado.'" required data-placeholder="Selecione o responsável..." ng-model="vm.novaReserva.responsavel" ng-options="contato.nome for contato in vm.contatos">
									<option value=""></option>
								</select>
							</div>
						</div>
						<small ng-show="vm.novaReserva.responsavel == {} && vm.submitted" class="help-block">Selecione um responsável</small>
					</div>
          <button type="button" 
              class="btn btn-link btn-novo-contato"
              ng-click="vm.showNovoContatoModal();">
              <i class="zmdi zmdi-account-add zmdi-hc-lg"></i>
          </button>
				</div>

				<div class="col-sm-6 ppo-reserva-footer">
					<div ng-if="vm.novaReserva.quadra != undefined && vm.novaReserva.preco == undefined && vm.horarioLivre" class="no-price">
						<i class="zmdi zmdi-alert-triangle"> Quadra sem preço definido para este horário</i>
					</div>

					<div ng-if="vm.novaReserva.quadra != undefined && !vm.horarioLivre" class="no-room">
						<i class="zmdi zmdi-alert-triangle"> Horário ocupado para esta quadra!</i>
					</div>

					<div ng-if="vm.horarioLivre && vm.novaReserva.preco != undefined" style="margin-top: -10px ">
            <div class="row" ng-if='vm.novaReserva.id'><div  class="col-md-6" style="font-size: 0.6em;">
                Pago
              </div>
              <div class="col-md-6" style="font-size: 0.6em; color: #F34235">
                A pagar:
              </div>
            </div>
            <div class="row">
              <div ng-if='vm.novaReserva.id' class="col-md-6">
                R$ {{vm.novaReserva.preco.precoAvulso}}
              </div>
              <div class="col-md-6" style="color: #F34235">
                R$ {{vm.novaReserva.preco.precoAvulso}} 
              </div>
            </div>
					</div>
				</div>
				<div class="col-sm-6 text-right p-15">
          <button type="button" ng-if='vm.novaReserva.id' ng-click="vm.showPagamentoReservaModal();" class="btn btn-default btn-xs m-t-10">Pagar</button>
					<button type="button" ng-if='vm.novaReserva.id' confirmed-click='vm.excluirReserva(vm.novaReserva.id); $hide();' ng-confirm-click class="btn btn-danger btn-xs m-t-10">Excluir</button>
					<button type="submit" ng-click='vm.submitted = true; vm.salvarReservaAvulsa(); $hide()' ng-disabled="!vm.horarioLivre" class="btn btn-primary btn-xs m-t-10">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</script>
