<form class="form-horizontal" name="turmaForm" ng-submit="vm.salvarNovaReserva(); " novalidate>
	<div class="modal-body">
		<div class="card-body">
			<div class="row">
				<div class="form-group required" >
					<label for="inputNome" class="col-sm-3 control-label">Quadra</label>
					<div class="col-sm-7">
						<div class="fg-line">
							<select id="inputQuadra" chosen="{width: '100%'}" required disable-search="true" data-placeholder-text-single="'Selecione uma quadra...'" name="quadra" ng-model="vm.novaReserva.quadra" ng-options="quadra.nome for quadra in vm.quadras">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group required">
					<label for="inputDescricao" class="col-sm-3 control-label">Responsável</label>
					<div class="col-sm-7">
						<div class="fg-line">
							<select id="inputParticipantes" chosen="{width: '100%'}" name="resp" no-results-text="'Nenhum contato cadastrado.'" required data-placeholder-text-single="'Selecione o responsável...'" ng-model="vm.novaReserva.responsavel" ng-options="contato.nome for contato in vm.contatos">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<button type="button" 
						    class="btn btn-link btn-novo-contato"
						    ng-click="vm.showNovoContatoModal();">
						    <i class="zmdi zmdi-account-add zmdi-hc-lg"></i>
						</button>
					</div>
				</div>
				<div class="form-group required" style="margin-top: -10px">
					<label for="inputDataInicio" class="col-sm-3 control-label">Data</label>
					<div class="col-sm-7">
						<div class="fg-line">
							<input id="inputDataInicio" autoclose="true" disable-valid-styling="true" width="300" name="dataFim" type="text" required class="form-control" ng-model="vm.novaReserva.data"  bs-datepicker />
						</div>
					</div>
				</div>
				<div class="form-group required">
					<label for="inputHoraInicio" class="col-sm-3 control-label">Horário</label>
					<div class="col-md-7">
						<div class="fg-line">
							<input id="inputHoraInicio" disable-valid-styling="true" round-display="true" name="horaInicionicio" type="text" required size="8" ng-model="vm.novaReserva.hora" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="30" data-arrow-behavior="picker" class="form-control" />
						</div>
					</div>
				</div>
				<div class="form-group required">
					<label for="inputDuracao" class="col-sm-3 control-label">Duração</label>
					<div class="col-md-7">
						<div class="fg-line">
							<select id="inputDuracao" chosen="{width: '100%'}" disable-search="true" name="validade" required data-placeholder-text-single="'Selecione a duração...'" ng-model="vm.novaReserva.duracao" ng-options="duracao.desc for duracao in vm.duracao">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<label  class="col-sm-3 control-label">Tipo de Reserva</label>
				<div class="col-md-7" style="margin-bottom: 30px">
					<label> 
						<input type="radio" ng-model="vm.novaReserva.tipoReserva" ng-value="1">
					    Avulsa
					</label>
					<label class="m-l-20">
						<input type="radio" ng-model="vm.novaReserva.tipoReserva" ng-value="2">
					    Mensal
					</label>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group required" ng-if="vm.novaReserva.tipoReserva == 2">
							<label for="inputValidade" class="col-sm-3 control-label">Estender por</label>
							<div class="col-md-7">
								<div class="fg-line">
									<select id="inputValidade" chosen="{width: '100%'}" disable-search="true" name="validade" required data-placeholder-text-single="'Selecione a validade...'" ng-model="vm.novaReserva.validade" ng-options="validade.desc for validade in vm.estenderPor">
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>  
		</div>  
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-sm m-t-10">Salvar</button>
		<button  type="button" ng-click='vm.hideModalForm();'  class="btn btn-default btn-sm m-t-10">Cancelar</button>
	</div>
</form>