<div class="pmb-block clearfix photos">
    <div class="p-header">
        <ul class="p-menu">
            <!-- <button 
                ng-if="vm.album.length > 0"
                class="btn btn-default" 
                href="" 
                ngf-select="uploadFiles($files, $invalidFiles)" 
                multiple
                accept="image/*" > 
                <i class="zmdi zmdi-image"></i> Adicionar Imagens
            </button>
            <br><br> -->
        </ul>
    </div>
    <button class="btn btn-float btn-danger m-btn" ng-if="vm.album.length > 0 && vm.album.length < 8" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ><i class="zmdi zmdi-plus"></i></button>
    <div class="lightgallery row">
        <div lightgallery ng-repeat="foto in vm.album" data-src="{{trustSrc(foto.img)}}" class="col-md-3 col-sm-4 col-xs-6 pmo-pic" style="margin:0px">
            <div class="lightgallery-item p-item">
                <img src="{{trustSrc(foto.thumb)}}" alt="" />
                <a ng-click="vm.deleteFoto($event, foto);" class="pmop-edit">
                    <i class="zmdi zmdi-delete"></i> <span class="hidden-xs">Excluir</span>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center" ng-if="vm.emptyList">
        </br>
        </br>
        </br>
        <i style="opacity:0.5" class="zmdi zmdi-collection-image-o  zmdi-hc-5x"></i>
            <h4 style="opacity:0.4">Mostre aos seus clientes como </br>sua arena é fantastica!!</h4>
            </br>
            <button class="btn btn-default" 
                        href="" 
                        ngf-select="uploadFiles($files, $invalidFiles)" 
                        multiple
                        accept="image/*" >
            <i class="zmdi zmdi-calendar-alt"></i> Adicionar imagens
        </button>
    </div>
</div>
<div class="clearfix"></div>
