<div  class="modal" id="userProfileModal"  tabindex="-1" role="dialog" aria-hidden="true" ng-controller="ChangePasswordCtrl as vm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Trocar Senha</h4>
			</div>
			<form class="form-horizontal" name="contatoForm" ng-submit="vm.changePassword(email, old, new); " novalidate>
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="form-group">
								<label for="email" class="col-sm-4 control-label">Email</label>
								<div class="col-sm-6">
									<div class="fg-line">
										<input id="email" ng-readonly="true" name="email" type="email" ng-model="email" class="form-control" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="oldPassword" class="col-sm-4 control-label">Senha antiga</label>
								<div class="col-sm-6">
									<div class="fg-line">
										<input id="oldPassword" name="oldPassword" type="password" ng-model="old" class="form-control" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="newPassword" class="col-sm-4 control-label">Nova Senha</label>
								<div class="col-sm-6">
									<div class="fg-line">
										<input id="newPassword" name="newPassword" type="password" ng-model="new" class="form-control" />
									</div>
								</div>
							</div>
						</div>  
					</div>
				</div>
				<div class="modal-footer">
					<button  type="button" ng-click='$hide()'  class="btn btn-default">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>