<div class="modal" id="wizardModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div ng-show="vm.wellcomeMessage" class="card blog-post" >
				    <div class="bp-header" >
				        <img src="images/cal-header.jpg" alt="">

				        <a href="" class="bp-title">
				            <div style="text-align:center; color:white; font-size:42px">Bem vindo ao 4Fut Arenas!</div>
				        </a>
				    </div>
				    <div class="text-center" style="font-size: 24px; padding:5% 24%">
				        Antes de começar a gerenciar sua arena <b>like a boss</b>
				        , vamos configurar algumas coisas. Prometemos que vai ser rápido.
				        <br/><br/>
				        <button class="btn btn-primary btn-lg waves-effect" ng-click="vm.wellcomeMessage = false;">Começar</button>
				    </div>
				</div>

				<div ng-hide="vm.wellcomeMessage" >
				    <div class="card-body card-padding">
				        <wizard  on-finish="finishedWizard()" template="app/setup-arena/wizard-template.html">
				            <wz-step title="Gestor">
				                <h1>Conte-nos um pouco sobre você</h1>
				                <br/>                    
				                <form class="form-horizontal" name="userForm" role="form">
				                    <div class="card-header">
				                        <h2>
				                            The Boss!!
				                            <small>
				                                Essas são as informações do responsável principal pela arena. O chefe! Quem manda, desmanda e faz acontecer. Será possível também criar contas para funcionários, escolhendo o perfil de acesso individualmente para cada um.
				                            </small>
				                        </h2>
				                        <div class="cadini-pic">
				                        	<a href="" class="pmop-edit" ng-click="vm.showUploadImageModal();">
				                        		<img src="{{vm.usuario.fotoPerfil}}" alt="">
				                        	</a>
				                        </div>
				                    </div>

				                    <div class="card-body card-padding">
				                        <div class="form-group required has-feedback" ng-class="{ 'has-error' : userForm.nome.$invalid && !userForm.nome.$pristine , 'has-success' : userForm.nome.$valid && !userForm.nome.$pristine }">
				                            <label for="inputNome" class="col-sm-3 control-label">Nome Completo</label>
				                            <div class="col-sm-8">
				                                    <input id="inputNome" required name="nome" type="text" ng-model="vm.usuario.nome" class="form-control" />
				                                <span ng-show="userForm.nome.$invalid && !userForm.nome.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="userForm.nome.$valid && !userForm.nome.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group required has-feedback" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine , 'has-success' : userForm.email.$valid && !userForm.email.$pristine }">
				                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
				                            <div class="col-sm-8">
				                                <input id="inputEmail" ng-readonly="true" required name="email" type="email" ng-model="vm.usuario.email" class="form-control" />
				                                <span ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="userForm.email.$valid && !userForm.email.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group required has-feedback" ng-class="{ 'has-error' : userForm.cpf.$invalid && !userForm.cpf.$pristine , 'has-success' : userForm.cpf.$valid && !userForm.cpf.$pristine }">
				                            <label for="inputCpf" class="col-sm-3 control-label">CPF</label>
				                            <div class="col-sm-8">
				                                <input id="inputCpf" required name="cpf" ui-br-cpf-mask type="text" ng-model="vm.usuario.cpf" class="form-control" />
				                                <span ng-show="userForm.cpf.$invalid && !userForm.cpf.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="userForm.cpf.$valid && !userForm.cpf.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group required has-feedback" ng-class="{ 'has-error' : userForm.telefone.$invalid && !userForm.telefone.$pristine , 'has-success' : userForm.telefone.$valid && !userForm.telefone.$pristine }">
				                            <label for="inputCelular" class="col-sm-3 control-label">Telefone</label>
				                            <div class="col-sm-8">
				                                <input id="inputCelular" required name="telefone" ui-br-phone-number type="text" ng-model="vm.usuario.telefone" class="form-control" />
				                                <span ng-show="userForm.telefone.$invalid && !userForm.telefone.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="userForm.telefone.$valid && !userForm.telefone.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <div class="pull-right">
				                                <button type="button" ng-disabled="userForm.$invalid" ng-click="vm.usuario.$save();" class="btn btn-primary" wz-next ><i class="zmdi zmdi-skip-next zmdi-hc-lg"></i> Próximo passo </button>
				                            </div>
				                        </div>
				                    </div>
				                </form>
				                <br/>
				                <br/>
				            </wz-step>
				            <wz-step title="Arena">
				                <h1>Venda seu peixe!</h1>
				                <form class="form-horizontal" name="arenaForm" role="form">
				                    <div class="card-header">
				                        <h2>
				                            Informações da arena
				                            <small>
				                                Essas são as informações que aparecerão para todos os peladeiros do Brasil. Capriche na descrição, coloque sua logo, seus contatos, endereço e corra pro abraço!
				                            </small>
				                        </h2>
				                    </div>

				                    <div class="card-body card-padding">
				                        <div class="form-group required has-feedback" ng-class="{ 'has-error' : arenaForm.nome.$invalid && !arenaForm.nome.$pristine , 'has-success' : arenaForm.nome.$valid && !arenaForm.nome.$pristine }">
				                            <label for="inputNome" class="col-sm-3 control-label">Nome da Arena</label>
				                            <div class="col-sm-8">
				                                <div class="fg-line">
				                                    <input id="inputNome" required name="nome" type="text" ng-model="vm.arena.nome" class="form-control" />
				                                </div>
				                                <span ng-show="arenaForm.nome.$invalid && !arenaForm.nome.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="arenaForm.nome.$valid && !arenaForm.nome.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group required has-feedback" ng-class="{ 'has-error' : arenaForm.cnpj.$invalid && !arenaForm.cnpj.$pristine , 'has-success' : arenaForm.cnpj.$valid && !arenaForm.cnpj.$pristine }">
				                            <label for="inputCpf" class="col-sm-3 control-label">CNPJ</label>
				                            <div class="col-sm-8">
				                                <div class="fg-line">
				                                    <input id="inputCpf" required name="cnpj" ui-br-cnpj-mask type="text" ng-model="vm.arena.cnpj" class="form-control" />
				                                </div>
				                                <span ng-show="arenaForm.cnpj.$invalid && !arenaForm.cnpj.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="arenaForm.cnpj.$valid && !arenaForm.cnpj.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label for="inputDescricao" class="col-sm-3 control-label">Descrição</label>
				                            <div class="col-sm-8">

				                                <div class="fg-line">
				                                    <input id="inputDescricao" name="descricao" type="text" ng-model="vm.arena.descricao" class="form-control" />
				                                </div>
				                            </div>
				                        </div>
				                        <div class="form-group has-feedback" ng-class="{ 'has-error' : arenaForm.email.$invalid && !arenaForm.email.$pristine , 'has-success' : arenaForm.email.$valid && !arenaForm.email.$pristine }">
				                            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
				                            <div class="col-sm-8">

				                                <div class="fg-line">
				                                    <input id="inputEmail" name="email" type="email" ng-model="vm.arena.email" class="form-control" />
				                                </div>
				                                <span ng-show="arenaForm.email.$invalid && !arenaForm.email.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="arenaForm.email.$valid && !arenaForm.email.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group" ng-class="{ 'has-error' : arenaForm.telefone.$invalid && !arenaForm.telefone.$pristine , 'has-success' : arenaForm.telefone.$valid && !arenaForm.telefone.$pristine }">
				                            <label for="inputCelular" class="col-sm-3 control-label">Telefone</label>
				                            <div class="col-sm-8">
				                                <div class="fg-line">
				                                    <input id="inputCelular" ng-minlength="10" name="telefone" ui-br-phone-number type="text" ng-model="vm.arena.telefone" class="form-control" />
				                                </div>
				                                <span ng-show="arenaForm.telefone.$invalid && !arenaForm.telefone.$pristine" class="zmdi zmdi-close form-control-feedback"></span>
				                                <span ng-show="arenaForm.telefone.$valid && !arenaForm.telefone.$pristine" class="zmdi zmdi-check form-control-feedback"></span>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label for="inputCelular" class="col-sm-3 control-label">Site</label>
				                            <div class="col-sm-8">
				                                <div class="fg-line">
				                                    <input id="inputCelular" name="site" type="text" ng-model="vm.arena.site" class="form-control" />
				                                </div>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <div class="row">
				                                <div class="col-md-6">
				                                    <button type="submit" wz-previous class="btn btn-danger"><i class="zmdi zmdi-skip-previous zmdi-hc-lg"></i> Passo anterior </button>
				                                </div>
				                                <div class="pull-right">
				                                    <button type="submit" ng-click="vm.arena.$save();" ng-disabled="arenaForm.$invalid" class="btn btn-primary" wz-next ><i class="zmdi zmdi-skip-next zmdi-hc-lg"></i> Próximo passo </button>
				                                </div>
				                            </div>

				                        </div>
				                    </div>
				                </form>
				                <br/>
				                <br/>
				            </wz-step>
				            <wz-step title="Quadras">
				                <h1>Onde a mágica acontece</h1>
				                <div class="card-header">
				                    <h2>
				                        Informações das quadras
				                        <small>
				                            É comum que as arenas contem com mais de uma quadra. Cadastre todas elas aqui.
				                        </small>
				                    </h2>
				                </div>
				                <div class="card-body card-padding">
				                    <div data-ng-include="'app/arena/quadras/quadras.html'" data-ng-controller="QuadraCtrl as vm"></div>
				                    <div class="form-group">
				                        <div class="row">
				                            <div class="col-md-6">
				                                <button type="submit" wz-previous class="btn btn-danger"><i class="zmdi zmdi-skip-previous zmdi-hc-lg"></i> Passo anterior </button>
				                            </div>
				                            <div class="pull-right">
				                                <button type="submit" class="btn btn-primary" wz-next ><i class="zmdi zmdi-skip-next zmdi-hc-lg"></i> Próximo passo </button>
				                            </div>
				                        </div>

				                    </div>
				                </div>
				            </wz-step>
				            <wz-step title="Concluir">
				                <h3>Responsável</h3>
				                <p>
				                	<b>Nome: </b> {{vm.usuario.nome}}
				                </p> 
				                <p>
				                	<b>Email: </b> {{vm.usuario.email}}
				                </p> 
				                <p>
				                	<b>CPF: </b> {{vm.usuario.cpf}}
				                </p> 
				                <p>
				                	<b>Telefone: </b> {{vm.usuario.telefone}}
				                </p> 
				                <hr>
				                <h3>Arena</h3>
				                <p>
				                	<b>Nome: </b> {{vm.arena.nome}}
				                </p> 
				                <p>
				                	<b>Nome: </b> {{vm.arena.descricao}}
				                </p> 
				                <p>
				                	<b>Email: </b> {{vm.arena.email}}
				                </p> 
				                <p>
				                	<b>CNPJ: </b> {{vm.arena.cnpj}}
				                </p> 
				                <p>
				                	<b>Telefone: </b> {{vm.arena.telefone}}
				                </p> 
				                <p>
				                	<b>Site: </b> {{vm.arena.site}}
				                </p> 
				                <hr>
				                <h3>Quadras</h3>
				                <p ng-repeat="quadra in vm.quadras">
				                	{{quadra.nome}}
				                </p> 

				                <div class="form-group">
				                    <div class="row">
				                        <div class="col-md-6">
				                            <button type="submit" wz-previous class="btn btn-danger"><i class="zmdi zmdi-skip-previous zmdi-hc-lg"></i> Passo anterior </button>
				                        </div>
				                        <div class="pull-right">
				                            <button type="submit" class="btn btn-primary" ng-click="vm.concluirConfiguracao();" wz-next >Concluir Configuraçao </button>
				                        </div>
				                    </div>
				                </div>
				            </wz-step>
				        </wizard>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>