<div id="sistema-arena" >

	<header id="home">
		<div class="navigation-header">
			<!-- STICKY NAVIGATION -->
			<div class="navbar navbar-inverse bs-docs-nav sticky-navigation">
				<div class="container">
					<div class="navbar-header">

						<!-- LOGO ON STICKY NAV BAR -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#landx-navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="images/logo-dark.png" alt=""></a>

					</div>

					<!-- NAVIGATION LINKS -->
					<div class="navbar-collapse collapse" id="landx-navigation">
						<ul class="nav navbar-nav navbar-right main-navigation">
							<li><a href="http://reidaquadra.com/">4Fut APP</a></li>
							<li><a href="#section6">Contato</a></li>
							<li><a data-ui-sref="login">Login</a></li>
							<!--<li><a href="#section1">Screenshots</a></li>
							<li><a href="#section2">Video</a></li>
							<li><a href="#section3">Contato</a></li>
							<li><a href="#section8">Entrar</a></li>-->
						</ul>
					</div>

				</div>
				<!-- /END CONTAINER -->

			</div>
			<!-- /END STICKY NAVIGATION -->
		</div>

		<div class="container" style="height:500px">

			<!-- LEFT - HEADING AND TEXTS -->
			<div class="col-md-7 col-sm-7 intro-section" style="color:#fff; padding-top:100px">

				<h1 class="intro text-left" style="color:#fff">
					Leve a <strong>Gestão</strong> do Seu <strong>Negócio</strong> Para Outro <strong>Nível</strong>
				</h1>

				<ul class="feature-list-1">

					<!-- FEATURE ROW -->
					<li>
						<div class="icon-container pull-left">
							<span class="icon_check"></span>
						</div>
						<p class="text-left">
							Atraia novos clientes
						</p>
					</li>

					<!-- FEATURE ROW -->
					<li>
						<div class="icon-container pull-left">
							<span class="icon_check"></span>
						</div>
						<p class="text-left">
							Otimize sua gestão de reservas
						</p>
					</li>

					<!-- FEATURE ROW -->
					<li>
						<div class="icon-container pull-left">
							<span class="icon_check"></span>
						</div>
						<p class="text-left">
							Fidelize seus clientes
						</p>
					</li>
				</ul>

			</div>
		</div>
	</header>

	<section class="section1" id="section1">
		<div class="container">
			<div class="row">
				<!-- RIGHT - REGISTRATION FORM -->

				<div class="col-md-offset-7 col-md-5 col-sm-5" style="margin-top:-500px">

					<div class="vertical-registration-form">
						<h3>Cadastre-se</h3>
						<div style="color:red; font-size:12px; text-align:center">{{vm.err}}</div>
						<form class="form-horizontal" novalidate ng-submit="vm.formSubmit();">
							<div class="card-body" style="padding:7px 15px">
								<div class="row">
									<div class="form-group required">
										<div class="col-sm-12">
											<input id="inputNome" required name="arena" lower-case type="text" placeholder="Nome da Arena" ng-model="vm.novaArena.arena" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<input id="inputNome" required name="responsavel" type="text" placeholder="Nome do Responsável" ng-model="vm.novaArena.responsavel" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<input id="inputEmail" name="email" required type="email" placeholder="Email do Responsável" ng-model="vm.novaArena.email" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<input id="inputNome" required name="senha" type="password" placeholder="Senha" ng-model="vm.novaArena.password" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-12">
											<input id="inputNome" required name="confirm" type="password" placeholder="Confirmar Senha" ng-model="vm.novaArena.confirm" data-password-verify="vm.novaArena.password" class="form-control" />
										</div>
									</div>
									<div class="form-group" style="padding:0px 10px 0px 10px;">
										<div class="row">
											<div class="col-md-12">
												<button type="submit" class="btn btn-lg col-md-12 btn-danger">Experimente Agora</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /END - REGISTRATION FORM -->
			</div>
			<div class="row features" style="text-align:center; color:#efefef">
				<div class="col-md-3 features-item">
					<div class="service-item">
						<span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
						<h3>Gestão de Agenda</h3>
						<p>Controle as reservas de seus peladeiros avulsos, horários de escolinhas e mensalistas.</p>
					</div>
				</div>
				<div class="col-md-3 features-item">
					<div class="service-item">
						<span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
						<h3>Gestão Financeira</h3>
						<p>Tenha sempre a mão informações financeiras. Controle seus gastos e receitas de forma simples e eficiente.</p>
					</div>
				</div>
				<div class="col-md-3 features-item">
					<div class="service-item">
						<span class="input-group-addon"><i class="zmdi zmdi-notifications-active"></i></span>
						<h3>Notificações</h3>
						<p>Receba em tempo real notificações de reservas. Dispare notificações de promoções para todos os peladeiros.</p>
					</div>
				</div>
				<div class="col-md-3 features-item">
					<div class="service-item">
						<span class="input-group-addon"><i class="zmdi zmdi-view-dashboard"></i></span>
						<h3>Dashboards Completos</h3>
						<p>Leve a gestão de seu negócio para outro nível com nossos gráficos e dashboards ricos em informações	.</p>
					</div>
				</div>
			</div>
		</div> 
	</section>

	<section class="section2" id="section2">
		<div class="container">
			<div class="row">
				<h1 style="color:#666; text-align:center; margin-bottom:40px;">Acesse de qualquer lugar</h1>
				<div class="lightbox row">
					<div data-src="images/gallery/1.jpg" class="col-sm-3 col-xs-6">
						<div class="lightbox-item">
							<img src="images/gallery/1.jpg" alt="" />
						</div>
					</div>

					<div data-src="images/gallery/2.jpg" class="col-sm-3 col-xs-6">
						<div class="lightbox-item">
							<img src="images/gallery/2.jpg" alt=""  />
						</div>
					</div>

					<div data-src="images/gallery/3.jpg" class="col-sm-3 col-xs-6">
						<div class="lightbox-item">
							<img src="images/gallery/3.jpg" alt=""  />
						</div>
					</div>

					<div data-src="images/gallery/4.jpg" class="col-sm-3 col-xs-6" >
						<div class="lightbox-item">
							<img src="images/gallery/4.jpg" alt=""  />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--<section class="section3" id="section3" style="height: 500px; background: #000;">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</section>-->

	<footer class="bgcolor-2" >
		<ul class="social-icons">
			<li><a href="#"><span><i class="zmdi zmdi-facebook"></i></span></a></li>
			<li><a href="#"><span><i class="zmdi zmdi-instagram"></i></span></a></li>
			<li><a href="#"><span><i class="zmdi zmdi-twitter"></i></span></a></li>
		</ul>

		<ul class="footer-links-list" >
			<li class="footer-links-list-item">
				<a class="footer-link" href="#">4Fut App</a>
			</li>
			<li class="footer-links-list-item">
				<a class="footer-link" href="#">Contato</a>
			</li>

			<li class="footer-links-list-item">
				<a class="footer-link" href="#">Login</a>
			</li>

		</ul>

		<div class="footer-logo" style="padding: 30px 0px 30px 0px">
			<img src="images/logo-light.png" alt="">
		</div>
		<div class="copyright" style="color:#bbb" >
			Copyright © Todos os direitos reservados. 4Fut LTDA
		</div>

	</footer>

</div>

