<section id="precos">
	<div class="pmb-block clearfix" ng-if="vm.quadras.length > 0">
	    <div class="p-header">
	         <div class="btn-group btn-group-justified" ng-model="vm.quadraSelecionada.$id" bs-radio-group>
	            <label ng-repeat="quadra in vm.quadras" ng-click="vm.selecionaQuadra(quadra.$id);" class="btn {{quadra.color}}"><input type="radio" value="{{quadra.$id}}">{{quadra.nome}}</label>
	        </div>
	        <br/><br/>
	    </div>
	    <button style="z-index: 10" class="btn btn-float btn-danger m-btn" ng-click="vm.showNovoPrecoModal();"><i class="zmdi zmdi-plus"></i></button>
	    <div id="configFunc" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources" style="margin:0px"  calendar="precoCalendar" >
	    </div>
	</div>

	<div class="text-center" ng-if="vm.emptyList">
	    </br>
	    </br>
	    </br>
	    </br>
        </br>
        </br>
	    <i style="opacity:0.5" class="zmdi zmdi-alert-triangle  zmdi-hc-5x"></i>
	        <h4 style="opacity:0.4">Cadastre ao menos uma quadra no </br>sistema para definir seus preços</h4>
	        </br>
	</div>

	<div class="clearfix"></div>
</section>

