<div class="popover" tabindex="-1">
  <div class="arrow"></div>
  <button type="button" class="close m-r-15 m-t-5" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
  <form class="form-horizontal precoForm" name="precoForm">
    <h4 class="popover-title">
      {{vm.dataLabel}}<br/>
    </h4>
    <div class="popover-content" >
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10" ng-class="{ 'has-error' : precoForm.avulso.$invalid && vm.submitted }">
          <div class="input-group" >
            <span class="input-group-addon"><i class="zmdi zmdi-timer"></i></span>
            <div class="fg-line">
              <input type="text" name="avulso" required class="form-control" ui-money-mask ng-model="vm.novoPreco.precoAvulso" placeholder="Preço Avulso">
            </div>
          </div>
          <small ng-show="precoForm.avulso.$invalid && vm.submitted" class="help-block">Informe o preço avulso</small>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10" ng-class="{ 'has-error' : precoForm.mensal.$invalid && vm.submitted }">
          <div class="input-group ">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
            <div class="fg-line">
              <input type="text" name="mensal" required class="form-control" ui-money-mask ng-model="vm.novoPreco.precoMensalista" placeholder="Preço Mensal">
            </div>
          </div>
          <small ng-show="precoForm.mensal.$invalid  && vm.submitted" class="help-block">Informe o preço mensal</small>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" ng-click='vm.submitted = true; vm.salvarNovoPreco(); $hide()' ng-disabled="precoForm.$invalid" class="btn btn-primary btn-sm m-t-10 col-sm-12">Salvar Novo Preço</button>
        </div>
      </div>
    </div>
  </form>
</div>