<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="mdlPreco">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Click e arraste nos horários para adicionar preços.</h4>
      </div>
      <div class="modal-body">
        <button 
        class="btn btn-default" 
        href="" 
        data-template-url="app/arena/quadras/precos/modal-novo-preco.html" bs-modal="modal"> 
        <i class="zmdi zmdi-accounts-add hidden-xs"></i> Novo Preço
      </button>
      <div id="configFunc" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources" style="margin:0px"  calendar="myCalendar" >
      </div>
    </div>
  </div>
</div>
</div>


