<form class="form-horizontal" name="turmaForm" ng-submit="vm.salvarNovaTurma(); " novalidate>
	<div class="modal-body">
		<div class="card-body">
			<div class="row">
				<div class="form-group">
					<label for="inputNome" class="col-sm-2 control-label">Quadra</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<select id="inputQuadra" chosen="{width: '100%'}" required disable-search="true" data-placeholder="Selecione uma quadra..." name="quadra" ng-model="vm.novaTurma.quadra" ng-options="quadra.nome for quadra in vm.quadras">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputDescricao" class="col-sm-2 control-label">Professor</label>
					<div class="col-sm-9">
						<div class="fg-line">
							<select id="inputParticipantes" chosen="{width: '100%'}" name="resp" no-results-text="'Nenhum contato cadastrado.'" required data-placeholder="Selecione o professor..." ng-model="vm.novaTurma.professor" ng-options="professor.nome for professor in vm.professores">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="inputDataInicio" class="col-sm-4 control-label">Data de Início</label>
					<div class="col-sm-8">
						<div class="fg-line">
							<input id="inputDataInicio" disable-valid-styling="true" name="dataFim" type="text" required class="form-control" ng-model="vm.novaTurma.dataInicio" data-max-date="{{vm.novaTurma.dataFim}}" placeholder="Início das aulas" bs-datepicker />
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="inputDataFim" class="col-sm-5 control-label">Data de Término</label>
					<div class="col-sm-7">
						<div class="fg-line">
							<input id="inputDataFim" disable-valid-styling="true" name="dataInicio" type="text" required class="form-control" ng-model="vm.novaTurma.dataFim" data-min-date="{{vm.novaTurma.dataInicio}}" placeholder="Término das aulas" bs-datepicker />
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="inputHoraInicio" class="col-sm-4 control-label">Horário de Início</label>
					<div class="col-sm-8">
						<div class="fg-line">
							<input id="inputHoraInicio" disable-valid-styling="true" name="horaInicionicio" type="text" required size="8" ng-model="vm.novaTurma.horaInicio" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="15" data-arrow-behavior="picker" class="form-control" />
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="inputHoraFim" class="col-sm-5 control-label">Horário de Término</label>
					<div class="col-sm-7">
						<div class="fg-line">
							<input id="inputHoraFim" disable-valid-styling="true" name="horaFim" type="text" size="8" required ng-model="vm.novaTurma.horaFim" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="15" data-arrow-behavior="picker" class="form-control" />
						</div>
					</div>
				</div>
				<div class="form-group" >
					<label for="inputDescricao" class="col-sm-2 control-label">Dias na semana</label>
					<div class="col-sm-9">
						<div class="fg-line p-t-15">
							<div>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[0].ativo'> 
									<i class="input-helper"></i>
									Dom
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[1].ativo'> 
									<i class="input-helper"></i>
									Seg
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[2].ativo'>
									<i class="input-helper"></i>
									Ter
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[3].ativo'>
									<i class="input-helper"></i>
									Qua
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[4].ativo'>
									<i class="input-helper"></i>
									Qui
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[5].ativo'>
									<i class="input-helper"></i>
									Sex
								</label>
								<label class="checkbox checkbox-inline">
									<input type="checkbox" disable-valid-styling="true" ng-model='vm.diasSemana[6].ativo'>
									<i class="input-helper"></i>
									Sab
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>  
		</div>  
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-sm m-t-10">Salvar</button>
		<button  type="button" ng-click='vm.hideEscolinhasForm();' class="btn btn-default btn-sm m-t-10">Cancelar</button>
	</div>
</form>