#reservas{
	.popover{
		min-width: 400px;
		margin-top: 10px;
		margin-bottom: 50px;
		border: 1px solid #ccc;
		box-shadow: 0 2px 4px rgba(0,0,0,.2);
		border-top: 3px solid @brand-danger;
	}

	.popover-content{
		padding: 0px
	}

	.popover.bottom > .arrow:after{
		border-bottom-color: @brand-danger;
	}

	.popover.top > .arrow{
		border-top-color: @brand-danger !important;
	}

	.popover.bottom > .arrow{
		border-bottom-color: @brand-danger !important;
	}

	.ppo-reserva-footer{
		font-size: 18px; 
		padding: 25px 0px 0px 15px; 
		color: @brand-primary; 
		font-weight: bold;

		.no-price{
			color: @brand-warning;
			font-size: 0.6em;
			font-weight: normal;
		}

		.no-room{
			color: @brand-danger;
			font-size: 0.6em;
			font-weight: normal;
		}
	}
}

#sideBarCal{
	margin-top: 100px;
	color:#ccc;

	h1, h1, h3, h4, h5, h6{
		color: #ccc
	}

	.quadras{
		padding: 15px 10px
	}

	.qdr{
		position: relative;

		a{
			color: #999;
    		font-size: 1.1em;
		}

		.qdr-item{
			position: relative;
    		display: block;
    		-webkit-transition: background-color;
    		transition: background-color;
    		-webkit-transition-duration: 300ms;
    		transition-duration: 300ms;
    		padding: 5px 5px 0px 5px;

    		.quadra-tag> span {
			    border-radius: 50%;
			    width: 10px;
			    height: 10px;
			    margin-right: 3px;
			    position: relative;
			    display: inline-block;
			    cursor: pointer;
			}

			.qdr-title{
				overflow: hidden;
    			text-overflow: ellipsis;
    			white-space: nowrap;
    			display: block;
			}

			.quadra-inativa {
			  text-decoration: line-through;
			  color: grey;
			}
		}
	}

}

